<div class="panel-heading">色から探す</div>
<div class="panel-body">
  <ul class="list-unstyled">
    <li><a href="#">ブラック<span>(15)</span></a></li>
    <li><a href="#">ホワイト<span>(10)</span></a></li>
    <li><a href="#">レッド<span>(7)</span></a></li>
    <li><a href="#">ブルー<span>(12)</span></a></li>
    <li><a href="#">オレンジ<span>(12)</span></a></li>
  </ul>
</div>
