<div class="panel-heading">サイズから探す</div>
<div class="panel-body">
  <ul class="list-unstyled clearfix">
    <li><a href="#">S<span>(15)</span></a></li>
    <li><a href="#">M<span>(10)</span></a></li>
    <li><a href="#">L<span>(7)</span></a></li>
    <li><a href="#">XL<span>(12)</span></a></li>
  </ul>
</div>
